<h1>About Us</h1>
<hr />
<h1>Think Club</h1>
<div class="about-text">Established in 2018  the Think Club is the innovation club at the Delhi Public School RK Puram. It is a purpose driven initiative with the mission of inculcating creative, innovative and collaborative skills in students.This is one of the most prestigious clubs as students who excel in spheres of academics, co-curricular and extracurricular activities  are the only ones who are inducted. Major fields of focus are STEM, engineering and renewable energy. We provide a platform to our members to discuss modern day problems and their corresponding solutions. We partake in many international and national level competitions with a great deal of awards won.

</div>
