<div class="main">
  <img src="./assets/download.jpg" class="main-img" />
  <h1 class="main-title">Think Club</h1>
  <div class="main-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    obcaecati quaerat, incidunt quod saepe tempora amet.
  </div>
</div>

<div class="summit">
  <img src="./assets/main.jpeg" class="summit-img" />
  <h1>Think Summit</h1>
  <div class="summit-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque officiis vel
    quidem vero quisquam libero porro hic assumenda consectetur, ea, non culpa
    aspernatur, rerum eius praesentium perferendis saepe debitis similique
    aliquam mollitia sint distinctio magni dolorum! Vel inventore et voluptatem
    odit natus. Temporibus, beatae. Possimus suscipit illo asperiores nostrum
    facere earum quisquam dignissimos repellendus voluptatibus? Ex laudantium
    quam cumque ipsa itaque ut quod accusamus. Explicabo ut numquam consectetur,
    alias neque ipsum sunt! Consectetur, aperiam corrupti! Eum at numquam natus
    maxime exercitationem, eius reprehenderit error magni possimus. Fuga,
    explicabo? Deserunt totam blanditiis tenetur commodi maiores quae quia minus
    aperiam harum ut soluta eum modi nam impedit, aliquam, ea sint officia
    inventore dolores obcaecati ipsa vitae mollitia doloribus. Amet at
    repellendus est totam vero aperiam voluptatem asperiores accusamus, sequi
    suscipit.
  </div>
</div>
<div class="vid-container">
  <video controls>
    <source src="./assets/vid.mp4" type="video/mp4" />
  </video>
</div>
