<h1>Magazines</h1>
<h1>EUNOIA 2020</h1>
<div class="magazine-container">
  <iframe
    src="https://online.fliphtml5.com/lvtjl/lgdq/"
    seamless="seamless"
    scrolling="no"
    frameborder="0"
    allowtransparency="true"
    allowfullscreen="true"
    class="magazine"
  ></iframe>
</div>
<hr />
<h1>EUNOIA 2019</h1>

<div class="magazine-container">
  <iframe
    src="https://online.fliphtml5.com/lvtjl/smml/"
    seamless="seamless"
    scrolling="no"
    frameborder="0"
    allowtransparency="true"
    allowfullscreen="true"
    class="magazine"
  ></iframe>
</div>
