<h1>Members</h1>
<div class="members">
  <% for (let i = 0; i < leaders.length; i++) { %>

  <div class="member">
    <div class="email"><%= leaders[i].post %></div>

    <h2><%= leaders[i].name.toUpperCase() %></h2>
  </div>

  <% } %> <% for (let i = 0; i < member.length; i++) { %>

  <div class="member">
    <h2><%= member[i] %></h2>
  </div>

  <% } %>
</div>
