<h1>Results</h1>
<div class="results">
  <% for (let i = 0; i < result.length; i++) { %>
  <h1><%= result[i].name%></h1>
  <table>
    <tr>
        <th>Position</th>
        <th>Team</th>
    </tr>
    <tr>
        <td>First</td>
        <td><%= result[i].first %></td>
    </tr>
    <tr>
        <td>Second</td>
        <td><%= result[i].second %></td>
    </tr>
    <tr>
        <td>Third</td>
        <td><%= result[i].third %></td>
    </tr>
  </table>
  <% } %></div>
</div>
