* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  color: rgb(228, 228, 228);
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  margin: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.nav-right {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  display: none;
}
.line {
  width: 100%;
  height: 15%;
  background-color: antiquewhite;
}

.main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-title {
  font-size: 96px;
  text-align: center;
  margin: 20px;
}

.main-img {
  margin-block: 30px;
}

.main-text {
  font-size: 18px;
  min-width: 0px;
  max-width: 90%;
  margin-block: 40px;
  margin-inline: auto;
  text-align: justify;
}
.summit-img {
  width: 100%;
}

.summit-text {
  width: 80%;
  margin: auto;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

footer {
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 60px;
  height: 4px;
}

.vid-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

video {
  width: 100%;
}

@media only screen and (max-width: 940px) {
  .hamburger {
    display: flex;
  }
  .nav-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    left: -100vw;
    width: 100vw;
    justify-content: space-around;
    height: calc(100vh - 80px);
  }
}
.active {
  left: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #757575;
  border-radius: 5px;
}
