.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: auto;
  width: 90%;
}

.member {
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
}

.email {
  font-weight: 100;
  margin-block: 10px;
}
