.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: auto;
  width: 90%;
  grid-auto-rows: 1fr;
}

.member {
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.email {
  font-weight: 100;
  margin-block: 10px;
}

@media only screen and (max-width: 940px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .members {
    grid-template-columns: repeat(1, 1fr);
  }
}
